
@{

	Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css">
	<link href="~/Content/Style.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="~/Content/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="~/Content/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="~/Content/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/Content/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/bootstrap-multiselect.js"></script>
	<script type="text/javascript" src="~/Content/assets/js/plugins/tables/handsontable/handsontable.min.js"></script>
	<link href="~/Content/assets/css/handsontable.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="~/Scripts/handsontable/handsontable.full.min.js"></script>
	<link href="~/Content/handsontable/handsontable.full.min.css" rel="stylesheet" type="text/css" />

	<style type="text/css">
		span.headerBold {
			font-weight: bold;
			text-align: left;
		}

		.hot .ht_master tr:nth-of-type(even) > td {
			background-color: #e8f4f8;
			;
			//hsl(199, 100%, 95%);
		}

		.hot .ht_master tr.foo > td {
			background-color: #A9FEAA;
			color: white;
		}

		.hot .ht_master tr > td.foo {
			background-color: #A9FEAA;
			color: white;
		}

		.lbl-margin-top {
			margin-top: 20px;
		}

		.lbl-bold {
			font-weight: 700;
		}

		.margin-top {
			margin-top: 10px;
		}
		.minus-margin-top {

		}

	</style>



	<script type="text/javascript">

		$(document).ready(function () {		
		

			var today = new Date();
			var hot5;

			var mydata = [];

			var d = new Date();
			for (var i = 2; i >= 0; i--) {
				var option = "<option value=" + parseInt(d.getFullYear() - i) + ">" + parseInt(d.getFullYear() - i) + "</option>"
				$('[id*=DropDownList1]').append(option);
			}
			for (var i = 1; i <= 2; i++) {
				var option = "<option value=" + parseInt(d.getFullYear() + i) + ">" + parseInt(d.getFullYear() + i) + "</option>"
				$('[id*=DropDownList1]').append(option);
			}

			
			if (today.getMonth() < 4) {

				$("#DropDownList1").val(today.getFullYear());
			}
			else {
				$("#DropDownList1").val(parseInt(today.getFullYear()) + parseInt(1));
			}

			$("#classList").change(function () {
				if ($("#classList").val() == 0) {
					alert("Please Select the Class")
					
				}
				else {
					getSectionForClass($("#classList").val())
				}
			});

			var container = document.getElementById('AttendanceHandsonTable');
					
			function getSectionForClass(Class_Id)
			{
				
					$.ajax({
						url: '/Attendance/FetchSectionIDForClass/',
						data: "{'Class_Id':'" + $("#classList").val() + "'}",
						dataType: "json",
						type: "POST",
						contentType: "application/json; charset=utf-8",
						async: true,
						processData: false,
						cache: false,
						success: function (data) {
							
							// first remove the current options if any
							$('#SectionList').find('option').remove();

							$('#SectionList').append($('<option></option>').val(0).html("-- Select Section --"));
							for (var i = 0; i < data.length; i++) {							
							
								var opt = new Option(data[i].Name, data[i].Id);
								$('#SectionList').append(opt);

							}


							// next iterate thru your object adding each option to the drop down\    
							//$(data).each(function (index, item) { // GETTING ERROR HERE
							//	debugger;

							//	$('#SectionList').append($('<option></option>').val(item.Value).html(item.Text));
							//});


						}

					});
			}


			$('#btnGetAttendance').click(function () { //On click of your button

				if ($('#classList').val() == 0) {
					alert("Please Select the Class");
				}
				else if ($('#SectionList').val() == 0) {
					alert("Please Select the Section");
				}
				else if ($('#TermList').val() == 0) {
					alert("Please Select the Term");
				}
				else {

					$.ajax({
						url: '/Attendance/GetAttendanceForClass/',
						data: "{'class_Id':'" + $("#classList").val() + "','section_Id':'" + $("#SectionList").val() + "','term_Id':'" + $("#TermList").val() + "','year':'" + $("#DropDownList1").val() + "'}",
						//data: "{'Class_Name':'" + $("#txtAddClass").val() + "'}",
						dataType: "json",
						type: "POST",
						contentType: "application/json; charset=utf-8",
						success: function (data) {
							debugger
							$("#AttendanceHandsonTable").html("");
							$("#hot-display-license-info").val("");
							$("#hot-display-license-info").text("");
							
							hot5 = new Handsontable(container, {

								
								data: data,
								startRows: 0,
								startCols: 0,
								//always keep at least 1 spare row at the right
								//minSpareRows: 3,
								//always keep at least 1 spare row at the bottom,
								columnHeaders: true,
								rowHeaders: true,
								contextMenu: true,// disable context menu to change things
								manualColumnResize: true,
								manualRowResize: true,
								hidencolumns : [0],
								cells: function (row, col, prop) {
									var cellProperties = {};

									
										cellProperties.renderer = firstRowRenderer; // uses function directly
								
									return cellProperties;
								}
							});


							function firstRowRenderer(instance, td, row, col, prop, value, cellProperties) {
								
								Handsontable.renderers.TextRenderer.apply(this, arguments);
							
								if (row === 0) {
									td.style.fontWeight = 'bold';
									td.style.color = 'green';
									td.style.background = '#CEC';
								}
							}
						}
						,
						error: function (response) {

						},
						failure: function (response) {

						}
					});
				}

			})

			$('#btnSaveAttendance').click(function () {
				//debugger
				var myData = hot5.getData();
				myData = JSON.stringify(myData);

				$.ajax({
					url: '/Attendance/SaveAttendanceForClass/',
					type: "POST",
					dataType: "text",
					contentType: 'application/json; charset=utf-8',
					data: myData,
					async: true,
					processData: false,
					cache: false,
					success: function (data) {
					//	debugger
						if (data.replace("\"", "").replace("\"", "") == "OK") {
							alert("Fees Succussfully Configured");
						}
						else if (data.replace("\"", "").replace("\"", "") == "Updated") {
							alert("Fees Configuartion Sucessfully Updated");
						}
						else if (data.replace("\"", "").replace("\"", "") == "Fees Already Configured") {

						}
					},
					error: function (xhr) {
					//	debugger
						alert('error');
					}
				});
			})

			

		});

   </script>
	</head>
<body>
	<div class="page-container" style="height:100%;">
		<div class="page-content">

			<div class="container">
				<!-- Basic initialization -->

				<div class="panel panel-primary panel-bordered" style="min-height:150px;">
					<div class="panel-heading bg-blue-800">
						<h6 class="panel-title ">ATTENDANCE CONFIGURATION</h6>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse"></a></li>
								<li><a data-action="reload"></a></li>
								<li><a data-action="close"></a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body">

					</div>
					<div class="row form-group">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<div class="col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-1" >
							<label class="lbl-bold">CLASS</label>
						</div>

						<div class="col-sm-2 col-md-2">

							<select id="classList" required name="ClassName" class="form-control">
								@if (ViewBag.classList != null)
								{
									<option value='0'>-- Select Class --</option>
									foreach (var item in ViewBag.classList)
									{
										if (item.Text != null)
										{

											<option value="@item.Value">
												@item.Text
											</option>

										}

									}
								}
							</select>
						</div>
						<div class="col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-1">
							<label class="lbl-bold">SECTION</label>
						</div>

						<div class="col-sm-2 col-md-2">

							<select id="SectionList" required name="SectionName" class="form-control"></select>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-1">
							<label class="lbl-bold">ACADEMIC YEAR</label>
						</div>
						<div class="col-sm-2 col-md-2">

							<select id="DropDownList1" name="DropDownList1" class="form-control"></select>

						</div>
						<div class="col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-1">
							<label class="lbl-bold">TERM</label>
						</div>

						<div class="col-sm-2 col-md-2">
							<select id="TermList" required name="TermName" class="form-control">
								@if (ViewBag.termList != null)
								{
									<option value='0'>-- Select Term --</option>
									foreach (var item in ViewBag.termList)
									{
										if (item.Text != null)
										{

											<option value="@item.Value">
												@item.Text
											</option>

										}

									}
								}
							</select>
						</div>
					</div>
					<div class="row col-sm-offset-5 col-md-offset-5">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<div class="text-left col-sm-3 col-md-3">
							<input type="button" class="btn btn-success" id="btnGetAttendance" value="GET ATTENDANCE" />
						</div>
					</div>

					<div class="content container-fluid" style="margin-top:40px; overflow:auto;height:600px;width:100%;">
						<div id="AttendanceHandsonTable" class="col-xs-offset-0 handsontable hot container-fluid"></div>
						<div class="row control-group"></div>

					</div>
					<div class="row col-sm-2 col-sm-offset-10 col-md-2 col-sm-offset-10 vert-spacer">
						<input type="button" id="btnSaveAttendance" value="SAVE ATTENDANCE" class="btn btn-success" />
					</div>

				</div>
			</div>

		</div>
		</div>
</body>
</html>


