
@{
    
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="~/Content/assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="~/Content/assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="~/Content/assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
	<!-- Core JS files -->

	<script type="text/javascript" src="~/Content/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="~/Content/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/Content/assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->
	<!-- Theme JS files -->
	<script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
	<script type="text/javascript" src="~/Content/assets/js/plugins/forms/selects/select2.min.js"></script>
	@*<script type="text/javascript" src="~/Content/assets/js/core/app.js"></script>*@
	<script type="text/javascript" src="~/Content/assets/js/pages/form_select2.js"></script>
	<!-- /theme JS files -->


	<script type="text/javascript">
		// Select with search
		//	$('#searchselect').text("");

		$(document).ready(function () {


			$('#institutionSelect').select2({
				minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
				placeholder: "Select items from List",
				ajax: {
					url: '/Staff/GetInstitutionList',
					//width: 'resolve',
					data: function (params) {
						return {
							q: params.term// search term
						};
					},
					processResults: function (data) {
						return {
							results: data.items
						};
					},
					initSelection: function (element, callback) {
					}
				},
			});

			$('#specializationSelect').select2({
				minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
				placeholder: "Select items from List",
				ajax: {
					url: '/Staff/GetSpecializationList',
					//width: 'resolve',
					data: function (params) {
						return {
							q: params.term// search term
						};
					},
					processResults: function (data) {
						return {
							results: data.items
						};
					},
					initSelection: function (element, callback) {
					}
				},
			});

			$('#qualificationSelect').select2({
				minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
				placeholder: "Select items from List",
				ajax: {
					url: '/Staff/GetQualificationList',
					data: function (params) {
						return {
							q: params.term// search term
						};
					},
					processResults: function (data) {
						return {
							results: data.items
						};
					}
				},
			});




			$.ajax({
				url: '/Staff/GetStaffEducationalDetailsOnPageLoad/',
				type: 'POST',
				contentType: 'application/json; charset=utf-8',
				cache: false,
				data: {},
				dataType: "json",
				success: function (data) {
					populateStaffEducationalDetailsInGrid(data);
					}
			});




			function populateStaffEducationalDetailsInGrid(data)
			{
				debugger
				$("#tblStaffEducationalDetails").find("tr:gt(0)").remove();
				if (data.items.length == 0) {

					var rows = "<tr>" +
						"<td class='' colspan=7 style=\"text-align:center;\" >" + "No Record to Display" + "</td>" +
							"</tr>";

					$('#tblStaffEducationalDetails tbody').append(rows);
				}
				else {
					for (i = 0 ; i < data.items.length ; i++) {


						var rows = "<tr>" +
							"<td class='Id' >" + data.items[i].Id + "</td>" +
							"<td class=''>" + data.items[i].Name + "</td>" +
							"<td class=''>" + data.items[i].From_Year + "</td>" +
							"<td class=''>" + data.items[i].To_Year + "</td>" +
							"<td class=''>" + data.items[i].Leaving_Reason + "</td>" +
							"<td class=''>" + data.items[i].Comments + "</td>" +
							"<td class=''> <div><button class='deleteRow form-control btn-warning' style=\"width:75%;\" >DELETE</button></div> </td>" +
							"</tr>";


						$('#tblStaffEducationalDetails tbody').append(rows);
						$('#searchselect').val(null).trigger("change");
						$(".Id").hide();
						$("#txtComments").val(""),
						$("#txtFromYear").val(""),
						$("#txtToYear").val(""),
						$("#txtLeavingReason").val("")
					}
				}
			}

			$('#tblStudentPrevSchool').on('click', '.deleteRow', function (e) {
				//debugger
				e.preventDefault();
				var id = $(this).closest('tr')[0].cells['0'].textContent

				$.ajax({
					url: '/Student/DeleteStudentPrevSchoolDetail/',
					type: 'POST',
					contentType: 'application/json; charset=utf-8',
					cache: false,
					data: '{"id":' + id + '}',
					dataType: "json",
					success: function (data) {
						populatePrevSchoolDetailsInGrid(data);


					}
				});
			});

			$('#tblStudentSiblingDetail').on('click', '.deleteRow', function (e) {
				debugger
				e.preventDefault();
				var id = $(this).closest('tr')[0].cells['0'].textContent

				$.ajax({
					url: '/Student/DeleteStudentSiblingDetail/',
					type: 'POST',
					contentType: 'application/json; charset=utf-8',
					cache: false,
					data: '{"id":' + id + '}',
					dataType: "json",
					success: function (data) {
						populateStudentSiblingDetailInGrid(data);


					}
				});
			});



			$('#searchselect').val('Select items from List').trigger("change");


			function getStaffEducationalDetail(staffEducationalDetail)
			{
				$("#tblStaffEducationalDetails").find("tr:gt(0)").remove();
				$.ajax({
					url: '/Staff/AddStaffEducationalQualification/',
					type: 'POST',
					contentType: 'application/json; charset=utf-8',
					cache: false,
					data: staffEducationalDetail,
					dataType: "json",
					success: function (data) {
						populateStaffEducationalDetailsInGrid(data);
					}
				});
			}

			function populateStaffEducationalDetailsInGrid(data) {
				debugger

				$("#tblStaffEducationalDetails").find("tr:gt(0)").remove();
				if (data.items.length == 0) {

					var rows = "<tr>" +
						"<td class='' colspan=7 style=\"text-align:center;\" >" + "No Record to Display" + "</td>" +
							"</tr>";

					$('#tblStaffEducationalDetails tbody').append(rows);
				}
				else {
					for (i = 0 ; i < data.items.length ; i++) {


						var rows = "<tr>" +
							"<td class='Id' >" + data.items[i].Id + "</td>" +
							"<td class=''>" + data.items[i].Qualification + " - " + data.items[i].Specialization + "</td>" +
							"<td class=''>" + data.items[i].Institution + "</td>" +
							"<td class=''>" + data.items[i].Year_Of_Passing + "</td>" +
							"<td class=''>" + "" + "</td>" +
							"<td class=''>" + "" + "</td>" +
							"<td class=''> <div><button class='deleteRow form-control btn-warning' style=\"width:75%;\" >DELETE</button></div> </td>" +
							"</tr>";


						$('#tblStaffEducationalDetails tbody').append(rows);
						//$('#searchselect').val(null).trigger("change");
						$(".Id").hide();
						//$("#txtComments").val(""),
						//$("#txtFromYear").val(""),
						//$("#txtToYear").val(""),
						//$("#txtLeavingReason").val("")
					}
				}
			}


			$("#btnAdd").click(function () {

				var Staff_Educational_Detail =
					{
						Staff_Id: "1",
						Qualification_Id: $('#qualificationSelect').val(),
						Specialization_Id: $("#specializationSelect").val(),
						Institution_Id: $("#institutionSelect").val(),
						Year_Of_Passing: "",
						Medium_Of_Instruction: "",
						Academic_Year: ""

					};

				var staffEducationalDetail = JSON.stringify(Staff_Educational_Detail);
				getStaffEducationalDetail(staffEducationalDetail);

			});

			$.ajax({
				url: '/Student/GetStudentSiblingDetailsOnPageLoad/',
				type: 'POST',
				contentType: 'application/json; charset=utf-8',
				cache: false,
				data: {},
				dataType: "json",
				success: function (data) {


					populateStudentSiblingDetailInGrid(data);
				}
			});

			function populateStudentSiblingDetailInGrid(data) {

				$("#tblStudentSiblingDetail").find("tr:gt(0)").remove();
				if (data.items.length == 0) {

					var rows = "<tr>" +
						"<td class='' colspan=7 style=\"text-align:center;\" >" + "No Record to Display" + "</td>" +
							"</tr>";

					$('#tblStudentSiblingDetail tbody').append(rows);
				}
				else {
					for (i = 0 ; i < data.items.length ; i++) {

						var rows = "<tr>" +
							"<td class='Id' >" +  data.items[i].Sibling_Detail_Id + "</td>" +
							"<td class=''>" + data.items[i].Student_Name +  "</td>" +
							"<td class=''>" + data.items[i].Class + " - " + data.items[i].Section  + "</td>" +
							"<td class=''>" + data.items[i].Roll_No + "</td>" +
							////"<td class=''>" + data.items[i].Leaving_Reason + "</td>" +
							"<td class=''>" + "" + "</td>" +
							"<td class=''> <div><button class='deleteRow form-control btn-warning' style=\"width:75%;\"  >DELETE</button></div> </td>" +
							"</tr>";


						$('#tblStudentSiblingDetail tbody').append(rows);
						$(".Id").hide();
						$('#studentsearchselect').val(""),
						$('#studentsearchselect').val(null).trigger("change");

					}
				}
			}

			$("#btnSiblingAdd").click(function () {

			//	debugger

				var Student_Sibling_Detail =
					{
						Student_Id: "1",
						Sibling_Student_Id: $('#studentsearchselect').val()

					};

				var stuSiblingDetail = JSON.stringify(Student_Sibling_Detail);

				$.ajax({
					url: '/Student/AddStudentSiblingDetails/',
					type: 'POST',
					contentType: 'application/json; charset=utf-8',
					cache: false,
					data: stuSiblingDetail,
					dataType: "json",
					success: function (data) {
						populateStudentSiblingDetailInGrid(data);
					}
				});

			});



		});
	</script>
</head>
<body>
	<section class="content">
		<div class="content">
			<div class="container">
				<div class="row">
						<div class="panel panel-primary panel-bordered container-fluid" style="min-height:700px;">
						<div class="panel-heading bg-indigo-400 container-fluid">
							<h6 class="panel-title ">STAFF EDUCATIONAL & PREV WORK EXPERIENCE DETAIL</h6>
							<div class="heading-elements ">
								<ul class="icons-list">
									<li><a data-action="collapse"></a></li>
									<li><a data-action="reload"></a></li>
									<li><a data-action="close"></a></li>
								</ul>
							</div>
						</div>
						<fieldset>
							<legend class="text-semibold">
								<i class="icon-reading position-left" style="color:green;font-size:larger; "></i>
								Student Prev School details & SIBLING DETAILS
							</legend>



							<div class="col-md-12 col-sm-12" style="min-height:100px;overflow-y:auto">
								<div class="panel panel-flat">

									<div class="panel-body">



										<div class="row">
											<div class="content-group-lg col-md-3 col-sm-3">
												<label style="font-weight:700; ">INSTITUTION</label>
												<select data-placeholder="Select Instituion" class="select-search col-sm-3 col-md-3" id="institutionSelect"></select>
											</div>
											<div class="col-md-4 col-sm-4">
												<label style="font-weight:700; ">QUALIFICATION</label>
												<select data-placeholder="Select Qualification" class="select-search col-sm-3 col-md-3" id="qualificationSelect"></select>
												@*<input type="text" id="txtQualification" class="form-control" />*@
											</div>
											<div class="col-md-1 col-sm-1">
												<label style="font-weight:700; ">FROM</label>
												<input type="text" id="txtFromYear" class="form-control" style="width:100%;" />
											</div>
											<div class="col-md-1 col-sm-1">
												<label style="font-weight:700; ">TO YEAR</label>
												<input type="text" id="txtToYear" class="form-control" style="width:100%;" />
											</div>	
											
											<div class="col-md-2 col-sm-2">
												<label style="font-weight:700; ">SPECIALIZATION</label>
												<select data-placeholder="Select Specialization" class="select-search col-sm-3 col-md-3" id="specializationSelect"></select>
												@*<input type="text" id="txtSpecialization" class="form-control" style="width:75%;" />*@
											</div>															

											@*<div class="col-md-2 col-sm-2">
												<label style="font-weight:700; ">COMMENTS</label>
												<input type="text" id="txtComments" class="form-control" />
											</div>*@

											<div class="col-md-1 col-sm-1">
												<input type="button" id="btnAdd" value="ADD" class="btn btn-primary btn-success" style="margin-top:35%;" />
											</div>


										</div>
										<div style="overflow-y:auto;height:150px;min-height:100px;" class="row">
											<table class="table  table-striped table-bordered table-responsive col-md-12 col-sm-12" id="tblStaffEducationalDetails">
												<thead class="bg-primary-400">
													<tr>
														<th>School Name</th>
														<th>From Year</th>
														<th>To Year</th>
														<th>Leaving Reason</th>
														<th>Comments</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
											<div id="noRecords" style="display:none"> There are no records </div>
										</div>
									</div>
								</div>
							</div>


						</fieldset>
						<fieldset>
							<legend class="text-semibold">
								<i class="icon-reading position-left" style="color:green;font-size:larger; "></i>
								Student sibling details
							</legend>



							<div class="col-md-12 col-sm-12">
								<div class="panel panel-flat">

									<div class="panel-body">


										<div class="row">
											<div class="content-group-lg col-md-4 col-sm-4">
												<label style="font-weight:700; ">STUDENT NAME</label>
												<select data-placeholder="Select School" class="select-search col-sm-3 col-md-3" id="schoolSelect"></select>
											</div>

											<div class="col-md-4 col-sm-4 col-sm-offset-1">
												<label style="font-weight:700; ">SIBLING RELATION</label>
												<input type="text" id="txtSiblingRelation" class="form-control" />
											</div>

											<div class="col-md-1 col-sm-1 ">
												<label style="font-weight:700; margin-top:10px;"></label>
												<input type="button" id="btnSiblingAdd" value="ADD" class="btn btn-primary btn-success" style="margin-top:35%;" />
											</div>


										</div>
										<div style="overflow-y:auto;height:150px;min-height:100px;" class="row">
											<table class="table  table-striped table-bordered table-responsive col-md-12 col-sm-12" id="tblStudentSiblingDetail">
												<thead class="bg-primary-400">
													<tr>
														<th>Student Name</th>
														<th>Class & Section</th>
														<th>Roll No</th>
														<th>Sibling Relation</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>

										</div>
										<div id="noRecords" style="display:none"> There are no records </div>
									</div>
								</div>
							</div>


						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>


