
@{
    
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="~/Content/assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="~/Content/assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="~/Content/assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
	<!-- Core JS files -->

	<script type="text/javascript" src="~/Content/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="~/Content/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/Content/assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->
	<!-- Theme JS files -->
	<script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
	<script type="text/javascript" src="~/Content/assets/js/plugins/forms/selects/select2.min.js"></script>
	@*<script type="text/javascript" src="~/Content/assets/js/core/app.js"></script>*@
	<script type="text/javascript" src="~/Content/assets/js/pages/form_select2.js"></script>
	<!-- /theme JS files -->

	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/bootstrap-multiselect.js"></script>

	<script type="text/javascript">
		// Select with search
		//	$('#searchselect').text("");

		$(document).ready(function () {

			//AutoComplete Textbox Population
			$('#institutionSelect').select2({
				minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
				placeholder: "Select items from List",
				ajax: {
					url: '/Staff/GetInstitutionList',
					//width: 'resolve',
					data: function (params) {
						return {
							q: params.term// search term
						};
					},
					processResults: function (data) {
						return {
							results: data.items
						};
					},
					initSelection: function (element, callback) {
					}
				},
			});

			$('#specializationSelect').select2({
				minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
				placeholder: "Select items from List",
				ajax: {
					url: '/Staff/GetSpecializationList',
					//width: 'resolve',
					data: function (params) {
						return {
							q: params.term// search term
						};
					},
					processResults: function (data) {
						return {
							results: data.items
						};
					},
					initSelection: function (element, callback) {
					}
				},
			});

			$('#qualificationSelect').select2({
				minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
				placeholder: "Select items from List",
				ajax: {
					url: '/Staff/GetQualificationList',
					data: function (params) {
						return {
							q: params.term// search term
						};
					},
					processResults: function (data) {
						return {
							results: data.items
						};
					}
				},
			});

			$('#schoolSelect').select2({
		
				minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
				placeholder: "Select School",
				ajax: {
					url: '/Staff/GetSchoolList',
					data: function (params) {
						return {
							q: params.term// search term
						};
					},
					processResults: function (data) {
						
						return {
							results: data.items
						};
					}
				},
			});



			


			
			//Delete Button Click 

			$('#tblStaffEducationalDetails').on('click', '.deleteRow', function (e) {
				
				e.preventDefault();
				var id = $(this).closest('tr')[0].cells['0'].textContent

				$.ajax({
					url: '/Staff/DeleteStaffEducationDetail/',
					type: 'POST',
					contentType: 'application/json; charset=utf-8',
					cache: false,
					data: '{"id":' + id + '}',
					dataType: "json",
					success: function (data) {
						populateStaffEducationalDetailsInGrid(data);


					}
				});
			});

			$('#tblStaffWorkExpDetail').on('click', '.deleteRow', function (e) {
			
				e.preventDefault();
				var id = $(this).closest('tr')[0].cells['0'].textContent

				$.ajax({
					url: '/Staff/DeleteStaffWorkExpDetail/',
					type: 'POST',
					contentType: 'application/json; charset=utf-8',
					cache: false,
					data: '{"id":' + id + '}',
					dataType: "json",
					success: function (data) {
						populateStaffWorkExpDetailsInGrid(data);


					}
				});
			});



			$('#searchselect').val('Select items from List').trigger("change");


			function getStaffEducationalDetail(staffEducationalDetail)
			{
				$("#tblStaffEducationalDetails").find("tr:gt(0)").remove();
				$.ajax({
					url: '/Staff/AddStaffEducationalQualification/',
					type: 'POST',
					contentType: 'application/json; charset=utf-8',
					cache: false,
					data: staffEducationalDetail,
					dataType: "json",
					success: function (data) {
						populateStaffEducationalDetailsInGrid(data);
					}
				});
			}

			function getStaffWorkExpDetail(Staff_Exp_Details) {

				$("#tblStaffWorkExpDetail").find("tr:gt(0)").remove();
				$.ajax({
					url: '/Staff/AddStaffWorkExpDetail/',
					type: 'POST',
					contentType: 'application/json; charset=utf-8',
					cache: false,
					//data: "{'Staff_Exp_Details':'" + JSON.stringify(Staff_Exp_Details) + "','Subject_Ids':'" + $('#subjectList').val() + "'}",
					data: Staff_Exp_Details,
					dataType: "json",
					success: function (data) {

						populateStaffWorkExpDetailsInGrid(data);
					}
				});
			}

			function populateStaffEducationalDetailsInGrid(data) {
		

				$("#tblStaffEducationalDetails").find("tr:gt(0)").remove();
				if (data.items.length == 0) {

					var rows = "<tr>" +
						"<td class='' colspan=7 style=\"text-align:center;\" >" + "No Record to Display" + "</td>" +
							"</tr>";

					$('#tblStaffEducationalDetails tbody').append(rows);
				}
				else {
					for (i = 0 ; i < data.items.length ; i++) {


						var rows = "<tr>" +
							"<td class='Id' >" + data.items[i].Id + "</td>" +
							"<td class=''>" + data.items[i].Qualification + " - " + data.items[i].Specialization + "</td>" +
							"<td class=''>" + data.items[i].Institution + "</td>" +
							"<td class=''>" + data.items[i].Year_Of_Passing + "</td>" +
							"<td class=''> <div><button class='deleteRow form-control btn-warning' style=\"width:75%;\" >DELETE</button></div> </td>" +
							"</tr>";


						$('#tblStaffEducationalDetails tbody').append(rows);
						//$('#searchselect').val(null).trigger("change");
						$(".Id").hide();
						//$('#schoolSelect').val(null).trigger("change");
						//$(".Id").hide();
						$('#qualificationSelect').val(null).trigger("change");
						$("#specializationSelect").val(null).trigger("change");
						$("#institutionSelect").val(null).trigger("change");
						$("#txtFromYear").val("");
						//$('#txtSubjectName').val("");
						//$("#txtYear").val("");
					}
				}
			}


			$("#btnAdd").click(function () {

				var Staff_Educational_Detail =
					{
						Staff_Id: "1",
						Qualification_Id: $('#qualificationSelect').val(),
						Specialization_Id: $("#specializationSelect").val(),
						Institution_Id: $("#institutionSelect").val(),
						Year_Of_Passing: $("#txtFromYear").val(),
						Medium_Of_Instruction: "",
						Academic_Year: ""

					};

				var staffEducationalDetail = JSON.stringify(Staff_Educational_Detail);
				getStaffEducationalDetail(staffEducationalDetail);

			});

			$("#btnSaveAndContinue").click(function () {
				//window.location.href = "/Staff/AddStaffSalaryDetail";
				window.location.href = "/Staff/AddOrEditStaffSalaryDetail";
			});

			$("#btnStaffWorkExpAdd").click(function () {
			
				var Staff_WorkExp_Detail =
					{
						Staff_Id: "",
						School_Id: $('#schoolSelect').val(),
						Designation_Id: $("#designationList").find(":selected").val(),
						Subject_Id: $('#txtSubjectName').val(),
						From_Year: $("#txtYear").val(),
						Academic_Year: ""

					};

				var staffWorkExpDetail = JSON.stringify(Staff_WorkExp_Detail);
				getStaffWorkExpDetail(staffWorkExpDetail);

			});		


			$.ajax({
				url: '/Staff/GetStaffWorkExpOnPageLoad/',
				type: 'POST',
				contentType: 'application/json; charset=utf-8',
				cache: false,
				data: {},
				dataType: "json",
				success: function (data) {
					populateStaffWorkExpDetailsInGrid(data);					
				}
			});

			$.ajax({
				url: '/Staff/GetStaffEducationalDetailsOnPageLoad/',
				type: 'POST',
				contentType: 'application/json; charset=utf-8',
				cache: false,
				data: {},
				dataType: "json",
				success: function (data) {
					populateStaffEducationalDetailsInGrid(data);
				}
			});

			function populateStaffWorkExpDetailsInGrid(data) {
				
			
				$("#tblStaffWorkExpDetail").find("tr:gt(0)").remove();
				if (data.items.length == 0) {

					var rows = "<tr>" +
						"<td class='' colspan=5 style=\"text-align:center;\" >" + "No Record to Display" + "</td>" +
							"</tr>";

					$('#tblStaffWorkExpDetail tbody').append(rows);
				}
				else {
					for (i = 0 ; i < data.items.length ; i++) {

						var rows = "<tr>" +
							"<td class='Id' >" + data.items[i].Id + "</td>" +
							"<td class='' style='width:75%;'>" + data.items[i].Institution + "</td>" +
							"<td class=''>" + data.items[i].Designation + "</td>" +
							"<td class=''>" + data.items[i].Subject + "</td>" +
							"<td class=''>" + data.items[i].Year_Of_Passing + "</td>" +
							"<td class=''> <div><button class='deleteRow form-control btn-warning' style=\"width:100%;\"  >DELETE</button></div> </td>" +
							"</tr>";


						$('#tblStaffWorkExpDetail tbody').append(rows);
						$(".Id").hide();
						//$('#studentsearchselect').val(""),
						//$('#studentsearchselect').val(null).trigger("change");
						$('#schoolSelect').val(null).trigger("change");
						$(".Id").hide();
						$("#designationList").val(null).trigger("change");
						$('#txtSubjectName').val("");
						$("#txtYear").val("");
						

					}
				}
			}

		
		});
	</script>
</head>
<body>
	<div class="page-container" style="height:100%;">
		<div class="page-content">
			<div class="container">
				@*<div class="row">*@
					@*<div class="col-sm-6 col-md-4">col-sm-6 col-md-4</div>
						<div class="col-sm-6 col-md-4">col-sm-6 col-md-4</div>
						<div class="col-sm-6 col-md-4">col-sm-6 col-md-4</div>*@
				<div class="panel panel-primary panel-bordered" style="width:100%;">
					<div class="panel-heading bg-indigo-400 container-fluid">
						<h6 class="panel-title ">STAFF EDUCATION & WORK EXP DETAIL</h6>
						<div class="heading-elements ">
							<ul class="icons-list">
								<li><a data-action="collapse"></a></li>
								<li><a data-action="reload"></a></li>
								<li><a data-action="close"></a></li>
							</ul>
						</div>
					</div>
					<fieldset>
						<legend class="text-semibold">
							<i class="icon-reading position-left" style="color:green;font-size:larger; "></i>
							STAFF EDUCATIONAL QUALIFICATION
						</legend>



						<div class="col-md-12 col-sm-12" style="min-height:100px;overflow-y:auto">
							<div class="panel panel-flat">
								<div class="panel-body">

									<div class="row">
										<div class="content-group-lg col-md-4 col-sm-4">
											<label style="font-weight:700; ">INSTITUTION</label>
											<select data-placeholder="Select Instituion" class="select-search col-sm-4 col-md-4" id="institutionSelect"></select>
										</div>
										<div class="col-md-4 col-sm-4">
											<label style="font-weight:700; ">QUALIFICATION</label>
											<select data-placeholder="Select Qualification" class="select-search col-sm-3 col-md-3" id="qualificationSelect"></select>
											@*<input type="text" id="txtQualification" class="form-control" />*@
										</div>
										<div class="col-md-1 col-sm-1">
											<label style="font-weight:700; ">YEAR</label>
											<input type="text" id="txtFromYear" class="form-control" style="width:100%;" />
										</div>
										@*<div class="col-md-1 col-sm-1">
									<label style="font-weight:700; ">TO YEAR</label>
									<input type="text" id="txtToYear" class="form-control" style="width:100%;" />
								</div>*@

										<div class="col-md-2 col-sm-2">
											<label style="font-weight:700; ">SPECIALIZATION</label>
											<select data-placeholder="Select Specialization" class="select-search col-sm-3 col-md-3" id="specializationSelect"></select>
											@*<input type="text" id="txtSpecialization" class="form-control" style="width:75%;" />*@
										</div>
										<div class="col-md-1 col-sm-1">
											<input type="button" id="btnAdd" value="ADD" class="btn btn-primary btn-success" style="margin-top:35%;" />
										</div>


									</div>
									<div style="overflow-y:auto;height:150px;min-height:100px;" class="row">
										<table class="table  table-striped table-bordered table-responsive col-md-12 col-sm-12" id="tblStaffEducationalDetails">
											<thead class="bg-primary-400">
												<tr>
													<th>Qualification</th>
													<th>Institution</th>
													<th>Passed Year</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody></tbody>
										</table>
										<div id="noRecords" style="display:none"> There are no records </div>
									</div>
								</div>
							</div>
						</div>


					</fieldset>
					<fieldset>
						@*<legend class="text-semibold">
					<i class="icon-reading position-left" style="color:green;font-size:larger; "></i>
					Staff Work Experience
				</legend>*@
						<div class="col-md-12 col-sm-12">
							<div class="panel panel-flat">

								<div class="panel-body">


									<div class="row form-group">
										<div class="col-md-4 col-sm-4">
											<label style="font-weight:700; ">SCHOOL/INSTITUTION</label>
											<select data-placeholder="Select School" class="select-search col-sm-3 col-md-3 form-control" id="schoolSelect"></select>
										</div>

										<div class="col-md-2 col-sm-2">
											<label style="font-weight:700; ">DESIGNATION</label>
											<select id="designationList" required name="subjectListName" class="form-control">
												@if (ViewBag.designationList != null)
												{
													<option value='0'>-- Select Designation --</option>		foreach (var item in ViewBag.designationList)
													{
														if (item.Text != null)
														{

															<option value="@item.Value">
																&nbsp;&nbsp; @item.Text
															</option>		}
													}
												}
											</select>
										</div>
										@*<div class="col-md-3 col-sm-3" style="margin-top:28px;">*@
										<div class="col-md-3 col-sm-3">
											<label style="font-weight:700; ">SUBJECT</label>
											<input type="text" id="txtSubjectName" class="form-control" />
										</div>
										<div class="col-md-2 col-sm-2">
											<label style="font-weight:700; ">YEAR</label>
											<input type="text" id="txtYear" class="form-control" />
										</div>

										<div class="col-md-1 col-sm-1 ">
											<label style="font-weight:700; margin-top:10px;"></label>
											<input type="button" id="btnStaffWorkExpAdd" value="ADD" class="btn btn-primary btn-success" style="margin-top:35%;" />
										</div>


									</div>
									<div style="overflow-y:auto;height:150px;min-height:100px;" class="row">
										<table class="table  table-striped table-bordered table-responsive col-md-12 col-sm-12" id="tblStaffWorkExpDetail">
											<thead class="bg-primary-400">
												<tr>
													<th style="width:75%;">School/Institution</th>
													<th>SDesignation</th>
													<th>Subjects Handled</th>
													<th>Year</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody></tbody>
										</table>

									</div>
									<div id="noRecords" style="display:none"> There are no records </div>
									
								</div>
							</div>
						</div>


					</fieldset>
					<div class="row col-sm-offset-9 col-md-offset-9 form-group">

						<input type="button" id="btncancel" class="btn btn-primary bg-green-400" value="" style="margin-left:32%;display:none; " />
						<input type="button" id="btnSaveAndContinue" class="btn btn-primary bg-green-400" value="SAVE & CONTINUE" style="margin-left:42% ;"/>

					</div>
					@*<div class="row form-group">
						<input type="button" id="btnSaveAndContinue" value="SAVE AND CONTINUE" class="col-sm-offset-9 col-md-offset-9 col-sm-2 col-md-2  btn btn-success"  />
					</div>*@
				</div>

				@*</div>*@
			</div>
		</div>
		</div>

</body>

</html>


